@{
    ViewData["Title"] = "Soru Sil";
}
@model SoruModel

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-danger">Soru Sil</h1>
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm"><i class="bi bi-arrow-left-circle"></i> Geri Dön</a>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h5 class="card-title">Onayınızı Bekliyoruz</h5>
                </div>
                <div class="card-body">
                    <p class="mb-4">"<strong>@Model.Question</strong>" sorusu silinecektir. Bu işlemi onaylıyor musunuz?</p>
                    <form method="post" asp-action="Delete">
                        <input type="hidden" asp-for="Id" /> <!-- Bu gizli alan, silinecek sorunun ID'sini taşıyacak -->
                        <div class="text-end">
                            <button type="submit" class="btn btn-danger btn-sm">Evet, Sil</button>
                            <a asp-action="Index" class="btn btn-secondary btn-sm">Hayır, Geri Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
